<h2>Address Info</h2>
    <form (submit)="addAddress(addAddressForm.value)" #addAddressForm="ngForm">
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" name="address" ngModel>
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" name="city" ngModel>
        </div>
        <div class="form-group">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state" name="state" ngModel>
        </div>
        <div class="form-group">
            <label for="zipcode">Zipcode</label>
            <input type="number" class="form-control" id="zipcode" name="zipcode" ngModel>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>