<h3><strong>Order Histroy</strong></h3>
<hr>
<div class="row">
    <div class="col" *ngFor="let o of order; let i = index ">
        <h4><strong>Order {{ i+1 }} </strong> <small>Purchased At: {{ o.purchase_date }}</small></h4>
        <div class="col" *ngFor="let p of o.purchases; let i = index">
            
            <li>
                <img class="product-image" img src="{{ p.product.image }}" height="35" width="35"> 
                {{ p.product.name }} | Qty: {{ p.qty}}  |  Price: ${{p.product.price * p.qty}}
            </li>
            
            <!-- <button class="btn btn-secondary" (click)="viewOrder(o.product.id)">View Order</button> -->
        </div>
        <br/>
        <div>
            <strong>total: ${{ total[i] }}</strong>
        </div>
        <hr>
        <hr>
    </div>
</div>
