<h3><strong>Cart</strong></h3>
<hr>
<div class="row">
    <!-- <div *ngIf="show"> -->
        <div class="col-12" *ngFor="let c of cart; let i = index ">
            <div class="col">
                <img class="product-image" img src="{{ c.product.image }}" height="50" width="50">
                {{ c.product.name }} (unit price: ${{c.product.price}})
                qty: {{c.qty}}
                price: ${{c.product.price * c.qty}}
                <button class="btn btn-secondary" (click)="removeFromCart(c.product.id)">remove</button>
            </div>
            <hr>
        </div>

    <div class="col-12">
        <div>
		    <p> Subtotal: ${{ subtotal }} </p>
            <button class="btn btn-primary" (click)="checkOut()"> Check Out</button>
            <button class="btn btn-primary" (click)="clearCart()"> Clear Cart</button>
        </div>
        <div>
            <p style="color: red;">{{ msg }}</p>
        </div>
    </div>
</div>