<div class="container">
  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="#">OnlineShopping</a>
          </div>
          <ul class="nav navbar-nav">
              <li>
                  <a routerLink="/product" routerLinkActive="active">Product</a>
              </li>
              <li>
                  <a routerLink="/cart" routerLinkActive="active">Cart</a>
              </li>
              <li>
                  <a routerLink="/order" routerLinkActive="active">Order</a>
              </li>
              <ul class="nav navbar-nav" *ngIf="this.authService.is_Admin | async">
                <li>
                    <a routerLink="/users/addAddress" routerLinkActive="active">Address</a>
                </li>
              </ul>
              <li>
                  <a routerLink="/login" routerLinkActive="active">Login</a>
              </li>            
          </ul>
          <ul class="nav navbar-nav" *ngIf="this.authService.loggedIn | async">
            <li>
                <a routerLink="/logout" routerLinkActive="active">Logout</a>
            </li>
          </ul>
      </div>
  </nav>
  <div class="row">
      <router-outlet></router-outlet>
  </div>
</div>