<div class="container row">
    <div class="col-sm-3" *ngFor="let p of product;let i=index">
        <div class="container row">
            <img class="product-image" img src="{{p.image}}" height="100" width="100">
            <div class="container row">
                <div>
                    <p><strong>{{p.name}}: ${{p.price}}</strong></p>
                </div>
                <div>
                    <button class="btn btn-primary btn-sm" (click)="addToCart(p)">Add To Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>

